.formControl {
  width: 30%;
  margin-bottom: 30px !important;
}

/* .inputCountry:first-child {
  color: white !important;
} */

.inputCountry::before {
  border-bottom: 1px solid rgb(125, 141, 32) !important;
}

.inputCountry svg {
  /* color: rgb(255, 255, 255) !important; */
  color: rgb(197, 33, 33) !important;
}