body {
  background: #333333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 200px;
  margin-top: 20px;
}

@media (max-width: 770px) and (orientation: portrait) {
  .container {
    margin: 0 15%;
  }

  .logo {
    width: 50%;
  }
}